<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modules.mapper.ExhibitionMapper">


    <!-- 添加点赞次数-->
    <update id="thumbsById">
        update exhibition set thumbs=thumbs+1 where id=#{id}
    </update>
    <!-- 减少点赞次数-->
    <update id="thumbsByIdUpdate">
        update exhibition set thumbs=thumbs-1 where id=#{id}
    </update>
    <!-- 添加收藏次数-->
    <update id="followsById">
        update exhibition set follows=follows+1 where id=#{id}
    </update>
    <!-- 减少收藏次数-->
    <update id="followsByIdUpdate">
        update exhibition set follows=follows-1 where id=#{id}
    </update>

    <!-- 添加作品评论数量-->
    <update id="updateCommentNumbersById">
        update exhibition set comment_numbers=comment_numbers+1 where id=#{id}
    </update>

    <!--查询所有的作品并标记点赞的作品type为1-->
    <select id="selectAll" resultType="modules.vo.ExhibitionnVo" >

        select  (SELECT count(id) FROM users_exhibiton_thumbs where users_id=#{usersId} and exhibiton_id=exhibition.id) as type,
                exhibition.*,users.username,
                users.head_portrait
        from  exhibition  left JOIN users  on exhibition.users_id=users.id
    </select>




    <!--单个作品和所有评论查询-->
    <resultMap id="ExhibitionReturnVolResult" type="modules.vo.ExhibitionReturnVo" >
        <result column="id" property="id" />
        <result column="nowid" property="nowid" />
        <collection property="mainCommentReturnVoList" select="getMainCommentReturnVoist" ofType="modules.vo.MainCommentReturnVo" column="id" >

        </collection>
    </resultMap>

    <resultMap id="MainCommentReturnVolResult" type="modules.vo.MainCommentReturnVo" >
        <result column="id" property="id" />
        <collection property="minorCommentReturnVoList" select="getMinorCommentReturnList" ofType="modules.vo.MinorCommentReturnVo" column="id" >

        </collection>
    </resultMap>

    <!--单个作品和所有评论查询-->
    <select id="selectByIdReturn" resultType="modules.vo.ExhibitionReturnVo" resultMap="ExhibitionReturnVolResult">
          select #{selectUsersId} as nowid,(select count(id) from  users_exhibiton_thumbs where users_id=#{selectUsersId} and exhibiton_id=exhibition.id )as type,exhibition.* from  exhibition where id=#{selectExhibitionId}
    </select>

    <!--单个作品和所有评论查询-->
    <select id="getMainCommentReturnVoist"  parameterType="Object"  resultType="modules.vo.MainCommentReturnVo"  resultMap="MainCommentReturnVolResult">
        select * from  main_comment where exhibition_id=#{nowid}
     </select>


    <!--单个作品和所有评论查询-->
    <select id="getMinorCommentReturnList"  parameterType="Object"  resultType="modules.vo.MinorCommentReturnVo" >
        select * from  minor_comment where main_comment_id=#{selectUsersId}
    </select>

</mapper>
